<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body class="bg-black text-white">

<!-- NAVBAR -->
<nav class="fixed w-full top-0 z-50 bg-gradient-to-r from-[#1e3a8a] to-[#1e40af] text-white shadow-lg">

  <div class="max-w-7xl mx-auto flex justify-between items-center px-6 py-4">

    <!-- Logo -->
    <a href="#" class="hover:text-indigo-300">ANUJ PANDYA</a>

    <!-- Menu -->
    <div class="hidden md:flex items-center space-x-6 text-sm font-medium">

      <a href="#about" class="hover:text-indigo-300">About</a>
      <a href="#skills" class="hover:text-indigo-300">Skills</a>
      <a href="#experience" class="hover:text-indigo-300">Experience</a>
      <a href="#projects" class="hover:text-indigo-300">Projects</a>
      <a href="#Education" class="hover:text-indigo-300">Education</a>
      <a href="#contact" class="hover:text-indigo-300">Contact</a>

      <!-- Resume Button -->
      <a href="/static/ANUJ PANDYA CV.pdf" class="ml-4 px-4 py-2 bg-indigo-500 rounded-lg flex items-center gap-2 hover:bg-indigo-600">
        ⬇ Resume
      </a>

      <!-- Icons -->
       <a href="https://github.com/anujpandya12/" target="_blank">
         <svg height="24" width="24" viewBox="0 0 16 16" fill="currentColor">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 
            7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49
            -2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94
            -.82-1.13-.28-.15-.68-.52-.01-.53.63-.01
            1.08.58 1.23.82.72 1.21 1.87.87 2.33.66
            .07-.52.28-.87.51-1.07-1.78-.2-3.64-.89
            -3.64-3.95 0-.87.31-1.59.82-2.15-.08
            -.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82
            .64-.18 1.32-.27 2-.27s1.36.09 2 .27
            c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16
            1.92.08 2.12.51.56.82 1.27.82 2.15
            0 3.07-1.87 3.75-3.65 3.95.29.25.54
            .73.54 1.48 0 1.07-.01 1.93-.01 2.2
            0 .21.15.46.55.38A8.01 8.01 0 0 0
            16 8c0-4.42-3.58-8-8-8z"/>
          </svg>
        </a>

      <a href="https://www.linkedin.com/in/anuj-pandya-5b566a3a1/" target="_blank">
          <svg height="24" width="24" viewBox="0 0 24 24" fill="currentColor">
            <path d="M19 0h-14C2.24 0 0 2.24 0 5v14c0 
            2.76 2.24 5 5 5h14c2.76 0 5-2.24 
            5-5V5c0-2.76-2.24-5-5-5zM7 19H4V8h3v11zM5.5 
            6.73c-.97 0-1.75-.79-1.75-1.76S4.53 
            3.2 5.5 3.2s1.75.79 
            1.75 1.77-.78 1.76-1.75 
            1.76zM20 19h-3v-5.6c0-1.34-.03-3.07-1.87-3.07-1.87 
            0-2.16 1.46-2.16 2.97V19h-3V8h2.88v1.51h.04c.4-.76 
            1.37-1.56 2.82-1.56 3.01 0 3.56 1.98 
            3.56 4.56V19z"/>
          </svg>
      </a>
      

    </div>

  </div>

</nav>
<div class="pt-20">
  {% block content %}{% endblock %}
</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>AOS.init();</script>

</body>
</html>